body {
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px minmax(50px, 1fr) 35px;
    min-height: 100vh;
    grid-template-areas: 
        "aside header header header"
        "aside main main main"
        "footer footer footer footer";
    font-family: sans-serif, Arial;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: .1rem solid #111;
    border-radius: .5rem;
}

aside nav h2 {
    font-size: 2rem;
    margin: 0;
}

aside ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

aside ul li {
    margin: 1.5rem 0;
}

aside ul li a {
    text-decoration: none;
    color: #111;
    font-size: 1.5rem;
    background: lightblue;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

aside ul li a:hover {
    background: aquamarine;
    transition: .3s;
}

aside input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: .1rem solid #111;
    margin: 1rem 0;
}

aside input[type="submit"] {
    background: lightcoral;
    font-size: 1.5rem;
    cursor: pointer;
}

aside input[type="submit"]:hover {
    background: tomato;
    transition: .3s;
}

main {
    grid-area: main;

}

main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

main fieldset{
    border: .1rem solid #111;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
}

main fieldset legend{
    font-size: 2rem;
}

main fieldset label{
    font-size: 1.5rem;
}

main fieldset input[type="text"]{
    width: 99%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: .1rem solid #111;
    margin: 1rem 0;
}

main fieldset input[type="number"]{
    width: 99%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: .1rem solid #111;
    margin: 1rem 0;
}

main fieldset select{
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: .1rem solid #111;
    margin: 1rem 0;

}

main fieldset input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 1.5rem;
    border: .1rem solid #111;
    margin: 1rem 0;
}

main input[type="submit"] {
    background: lightcoral;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;
}

main input[type="submit"]:hover {
    background: tomato;
    transition: .3s;
}

.mi-pastel{
    width: 50%;
    border: .1rem solid #111;
    border-radius: .5rem;
}

.tablita{
    width: 100%;
    border-collapse: collapse;
    border: .1rem solid #111;
    border-radius: .5rem;
    margin-left: 2rem;
    width: 95%;
}

.titulo-tabla{
    font-size: 2rem;
    margin: 0;
    text-align: center;
    background: #111;
    color: #eee;
}

.tablita table{
    width: 100%;
    border-collapse: collapse;
    border: .1rem solid #eee;
    border-radius: .5rem;
}

.tablita table thead{
    background: #111;
}

.tablita table thead tr{
    padding: 1rem;
}

.tablita table thead tr th{
    color: #eee;
    font-size: 1.5rem;
}

.tablita table tbody tr{
    padding: 1rem;
}

.tablita table tbody tr:nth-child(odd){
    background: lightseagreen;
}

.tablita table tbody tr:nth-child(even){
    background: lightcyan;
}

.tablita table tbody tr:hover{
    background: aquamarine;
    transition: .3s;
}

.tablita table tbody tr td{
    font-size: 1.2rem;
    text-align: center;
    color: #111;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}