{% extends "layouts/layout-menu.html" %}

{%block title %}
{{title}}
{% endblock %}

{% block header_content %}
<h3> DASHBOARD </h3>
{% endblock %}

{% block main_content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="mi-pastel">
    <canvas id="myChart" width="400" height="400"></canvas>

    <div id="chart-data" data-municipalities='{{ municipality_json|safe }}' style="display:none;"></div>

    </div>

    {% load static %}
    <script src="{% static 'js/dashboard.js' %}"></script>

    <div class="tablita">
        <h3 class="titulo-tabla"> Listado de Habitantes </h3>
        <table class="lista-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Genero</th>
                    <th>Vivienda</th>
                </tr>
            </thead>
            <tbody>
                {% for resident in residentList %}
                    <tr>
                        <td>{{resident.first_name}}</td>
                        <td>{{resident.last_name}}</td>
                        <td>{{resident.age}}</td>
                        <td>{{resident.birthdate}}</td>
                        <td>{{resident.gender}}</td>
                        <td>{{resident.residence}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}