{% extends "layouts/layout-menu.html" %}

{%block title %}
    {{title}}
{% endblock %}

{% block header_content %}
    <h3>Creación de Actividades Economicas</h3>
{% endblock %}

{% block main_content %}

    <form method="POST" action="" class ="Forms-reb" >
        {% csrf_token %}

        <fieldset>
            <legend>Actividades Economicas</legend>
        {% for field in economic_form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        </fieldset>
        
        <input type="submit" value="Guardar">
    </form>

{% endblock %}