{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
</head>
<body>

    <header>{% block header_content %}{% endblock %}</header>

    <aside>
        <nav>
            <h2>INEGI Administrador</h2>
            <ul>
                <li><a href=" {% url "menu" %} ">Inicio</a></li>
                <li><a href=" {% url "locality" %} ">Localidades</a></li>
                <li><a href=" {% url "residence" %}">Vivienda</a></li>
                <li><a href=" {% url "resident" %}">Habitantes</a></li>
                <li><a href=" {% url "economic" %}">Actividad Economicas</a></li>

                <div class="Logout">
                    <input type="submit" value="Logout" onclick="location.href=' {% url 'logout' %} '">
                </div>
            </ul>
        </nav>
    </aside>

    <main>{% block main_content %}{% endblock %}</main>

    <footer>
        <p>Derechos reservados INEGI &copy -  2023</p>
        {% block footer_content %}{% endblock %}
    </footer>

</body>
</html>